.container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  padding: 16px;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.button:disabled {
  background-color: rgba(89, 140, 235, 0.904);
  cursor: not-allowed;
}
