.container {
  display: flex;
  gap: 10px;
}
.container .moon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 50%;
}
.container .sun {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 50%;
}
